<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gene.recombine.springboot.mapper.CourseMapper">

    <resultMap id="BaseResultMap" type="gene.recombine.springboot.entity.Course">
            <id property="courseId" column="course_id" />
            <result property="courseName" column="course_name" />
    </resultMap>

    <sql id="Base_Column_List">
        course_id,course_name
    </sql>
</mapper>
